<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CreationMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v1.1.4322"/>
  <supportedRuntime version="v2.0"/>
  <supportedRuntime version="v3.0"/>
  <supportedRuntime version="v3.5"/>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
    <userSettings>
        <CreationMaster.Properties.Settings>
            <setting name="RootDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="FifaDbFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="FifaXmlFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LangDbFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="LangXmlFileName" serializeAs="String">
                <value/>
            </setting>
        </CreationMaster.Properties.Settings>
    </userSettings>
</configuration>
